:root{
  --xl-weigt: 700;
  --l-weigt: 400;
  --m-weigt: 300;
 --sm-weigt: 100;
 --l-size: 2.7rem;
 --m-size: 1.8rem;
 --sm-size: 1.5rem;
 --lightest-color: #ECEDF0;
 --md-color: #000036;
 --darkest-color: #1B172B;
 --yellow: #EEBE34;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--darkest-color);
  }
  h1 {
    font-size: var(--l-size);
    font-weight: var(--xl-weigt);
    color: var(--yellow); 
    text-align: center;    
    align-self: auto;
    margin-top: -1em;
  }

   input {
    padding: 0.2em;
    text-align: center;
    font-size: var(--l-size);
    border: none;
    border-radius: 7px;
    width: 90%;
  }

  button {
    font-size: var(--l-font);
    width: 50%;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    font-size: var(--sm-size);
    font-weight: var(--m-weigt);
    box-shadow:  rgba(255, 255, 0, 0.5) 0px 0px 15px 5px, rgba(255, 255, 0, 0.2) 1px 1px 1px;
  }

  button:hover,
  button:focus {
    color:var(--yellow);
    background-color: var(--darkest-color);
    box-shadow:rgba(0, 0, 0, 0.14) 1px 2px 5px, rgb(26, 0, 71) 1px 1px 1px 3px;
  }
  .inputs {
    /* display: block; */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #result {
    font-size: var(--l-size);
    font-weight: var(--l-font);
    text-align: center;
    color: var(--yellow);
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: baseline; */
    /* justify-content: space-between; */
    border: 1rem solid var(--yellow);
    border-radius: 10px;
    max-width: 500px;
    width: 50%;
    margin-top: 10em;
    padding: 7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  