:root{
 --sm-weigt: 100;
 --m-weigt: 300;
 --l-weigt: 400;
 --xl-weigt: 700;
 --sm-size: 1.5rem;
 --m-size: 1.8rem;
 --l-size: 2.2rem;
 --lightest-color: #839496;
 --md-color: #545E5F;
 --darkest-color: #252828;
 --blue-light: #BED8DA;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blue-light);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }
  h1 {
    font-weight: var(--l-font);
    color: var(--blue-light); 
    /* border: 2px solid #fff; */
   }
  input, button {
    margin-top: 2em;
    text-align: center;
    padding: 0.6em;
    border: none;
    margin: 0.5em;
    border: 1px solid #966969;
    border-radius: 7px;
  }
  button:hover,
  button:focus {
    color: #966969;
    background-color: #EBE0E0;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  #result {
    font-size: var(--l-size);
    font-weight: var(--l-font);
    text-align: center;
    color: var(--blue-light);
  }

  .input-container {
    /* border: 10px solid red; */
    border-radius: 5px;
    /* max-width: 500px; */
    /* width: 100%; */
    margin-top: 4em;
    background-color: var(--md-color);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  